:root {
    --color-azul: #004F4D;
    --color-oscuro: #1F2024;
    --color-medio: #4B4952;
    --color-claro: #A68F97;
    --color-fondo: #127369;
}

/* Reset de estilos por defecto del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url("/assets/recursos-img/fondo.png");
    margin: 0;
    padding: 0;
}

/* Estilos de encabezado y navegación */
header {
    background: #004F4D;
    color: #fff;
    padding: 1rem;
    width: 250px; /* Ancho de la barra lateral */
    height: 100vh; /* Alto completo de la pantalla */
    position: fixed; /* Barra lateral fija */
    left: 0; /* Alinear a la izquierda */
    top: 0; /* Alinear arriba */
    overflow-y: auto; /* Scroll vertical si es necesario */
}

header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav .profile-img {
    width: 180px; /* Tamaño de la imagen circular */
    height: 180px;
    border-radius: 50%; /* Para hacerla circular */
    display: block;
    margin-bottom: 1rem; /* Margen abajo */
}

header nav ul {
    list-style: none;
    padding: 0;
    margin-top: 2rem; /* Espacio arriba */
    width: 100%;
}

header nav ul li {
    margin-bottom: 1rem; /* Espacio abajo entre elementos */
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block; /* Hacer los enlaces de bloque */
    padding: 0.5rem 1rem; /* Espacio alrededor de los enlaces */
    text-align: center;
}

header nav ul li a:hover {
    background-color: #555; /* Cambiar el color de fondo al pasar el mouse */
}


/* Estilos de contenido principal */
main {
    margin-left: 250px; /* Dejar espacio a la izquierda para la barra lateral */
    padding: 2rem;
}

/* Estilo general para las secciones */
main section {
    background-color: #127369; /* Color de fondo claro para el contenedor */
    border: 2px solid #1F2024; /* Borde metálico */
    border-radius: 15px; /* Esquinas curvas */
    padding: 20px; /* Espaciado interno */
    margin-bottom: 20px; /* Espaciado entre secciones */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

/* Estilo para los encabezados dentro de las secciones */
main section h2 {
    font-family: 'Arial', sans-serif; /* Tipografía de los encabezados */
    color: #A68F97; /* Color de los encabezados */
    margin-bottom: 15px; /* Espaciado debajo de los encabezados */
    font-size: 1.5rem; /* Tamaño del texto */
    border-bottom: 2px solid #1F2024; /* Línea debajo del h2 */
    padding-bottom: 10px; /* Espaciado interno debajo del h2 */
}

/* Estilo para los párrafos */
main section p {
    font-family: 'Georgia', serif; /* Tipografía de los párrafos */
    color: #a4b2ff; /* Color del texto */
    line-height: 1.6; /* Altura de la línea */
    margin-bottom: 15px; /* Espaciado debajo de los párrafos */
}

/* Estilo para las imágenes */
main section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%; /* Ajuste automático del tamaño de la imagen */
    border-radius: 10px; /* Esquinas curvas */
    margin-bottom: 15px; /* Espaciado debajo de las imágenes */
}

main section.unidad {
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #45214A;
}

main section.unidadI {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #45214A;
}

/*
NUEVO USUARIO
*/

.nuevoUsuario {
    padding: 2em 1em 2em 1em;
    border: #0b0031 solid;
    background-color: #819e00;
}

.register-form {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.register-form h2 {
    text-align: center;
    margin-top: 0;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.form-group input[type="checkbox"] {
    margin-right: 10px;
}

.buttonC[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonC[type="submit"]:hover {
    background-color: #3e8e41;
}

.buttonC[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}


/*
PROYECTOS
*/

.proyectos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las secciones */
    justify-content: space-between; /* Distribuye las secciones uniformemente */
}

.proyectoBack {
    background-image: url(../assets/recursos-img/backCompras.jpg);
    width: calc(50% - 10px); /* Ancho de cada proyecto, calculado para 2 columnas */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.proyecto {
    background-color: #127369;
}

.proyectoBack:hover {
    transform: translateY(-5px); /* Efecto de levantamiento al pasar el mouse */
}

.proyecto img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 1em;
    border-bottom: 1px solid #ccc; /* Borde inferior para la imagen */
}

.proyecto .contenido {
    padding: 20px;
}

.contenido{
    flex-wrap: wrap;
}

.proyecto h3 {
    font-size: 1.2rem;
    margin-top: 0;
}

.proyecto p {
    margin: 10px 0;
}

.price {
    display: block;
    font-weight: bold;
    color: #03182e;
    margin-bottom: 10px;
}

.proyecto .button {
    display: block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.proyecto .boton:hover {
    background-color: #0056b3; /* Cambio de color al pasar el mouse */
}

/*
TIENDA
*/

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.product {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.product h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product.description {
    margin-bottom: 15px;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.price {
    display: block;
    font-weight: bold;
    color: #03182e;
    margin-bottom: 10px;
}

.product.button:hover {
    background-color: #0056b3;
}  

/*
INORMACION
*/


/* OGANIZADOR HORIZONTAL DE BOX DEL PDF */
.pdfDescripcion {
    display: flex; /* Activa el modo flexbox para el contenedor */
    justify-content: space-around; /* Distribuye el espacio entre los elementos */
    align-items: center; /* Alinea los elementos verticalmente al centro */
}

/*
PDF
*/

main section.unidad.pdf {
    width: 200px;
    height: 300px;
    overflow: hidden;
}

.pdfArchivo {
    width: 240px;
    height: 340px;
    overflow: hidden;
}

.pdf, .descripcion {
    padding: 4px; /* Relleno para los elementos */
}

.titlePdf {
    color: #05070f;
}

.skills {
    color: #0b0031;
}

/*
REDES
*/

/* Estilo para la lista de redes sociales en main section */
main section ul.redes {
    list-style: none; /* Quitar los puntos de la lista */
    padding: 0;
    display: flex; /* Disposición horizontal */
    justify-content: space-around; /* Espacio igual entre elementos */
}

/* Estilo para cada elemento de la lista */
main section ul.redes li {
    margin: 10px; /* Espaciado entre elementos */
}

/*
BOTONES DE CONTACTO
*/

/* Estilo para los botones de contacto */
main section ul.redes li .contact-button {
    display: inline-block; /* Convertir en botón */
    padding: 10px; /* Relleno interno */
    border-radius: 5px; /* Esquinas curvas */
    transition: transform 0.3s; /* Transición para el efecto hover */
}

/* Estilo para las imágenes dentro de los botones de contacto */
main section ul.redes li .contact-button img {
    max-width: 55px; /* Tamaño máximo de la imagen */
    border-radius: 10px; /* Esquinas curvas de la imagen */
}

/* Colores específicos para cada plataforma */
main section ul.redes li .contact-button.instagram {
    background-color: #E1306C; /* Color de fondo para Instagram */
}

main section ul.redes li .contact-button.gmail {
    background-color: #D44638; /* Color de fondo para Gmail */
}

main section ul.redes li .contact-button.whatsapp {
    background-color: #25D366; /* Color de fondo para WhatsApp */
}

main section ul.redes li .contact-button.linkedin {
    background-color: #fff; /* Color de fondo para Linkedin */
}

main section ul.redes li .contact-button.github {
    background-color: #555 /* Color de fondo para GitHub */
}

/* Efecto hover para los botones de contacto */
main section ul.redes li .contact-button:hover {
    transform: scale(1.1); /* Aumentar tamaño al pasar el ratón */
}

/* Estilo para los enlaces */
main section a.button {
    display: inline-block; /* Convertir en botón */
    padding: 10px 20px; /* Relleno interno */
    margin-top: 10px; /* Espaciado superior */
    background-color: #007BFF; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Esquinas curvas del botón */
    transition: background-color 0.3s; /* Transición para el cambio de color */
}

main section a.button:hover {
    background-color: #0056b3; /* Color del fondo del botón al pasar el ratón */
}

section {
    margin-bottom: 2rem;
    text-align: center; /* Centrar el contenido de las secciones */
}

section h2 {
    color: #333;
    margin-bottom: 1rem;
}

section p {
    margin-bottom: 1rem;
}

/*
BOTON "VER MAS"
*/

.buttonB {
    flex-flow: column wrap;
    align-items: center;
    display: flex;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #1F2024;
    text-decoration: none;
    border-radius: 5px;
}

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}

/*
BLOG
*/

/*fecha*/
.fecha {
    display: flex;
    justify-content: flex-end; /* Aligns the content to the right */
    align-items: center; /* Centers the content vertically (optional) */
    height: 10px; /* Example height for the container */
    color:#1F2024;
}

/*
FOOTER
*/

/* Estilos de pie de página */
footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    clear: both; /* Limpiar los flotantes */
    margin-left: 250px;
}

.buttonFooter {
    display: flex;
    padding: 0.2rem 0.5rem;
    color: #b49595;
    background-color: #00162c;
    text-decoration: none;
    border-radius: 0.5rem;
}

/*
Estilos responsivos
*/

@media (max-width: 768px) {
    header {
        width: 100%; /* Barra lateral ocupa todo el ancho en dispositivos pequeños */
        height: auto; /* Altura automática */
        position: static; /* Volver a posición estática */
        margin-bottom: 1rem; /* Espacio abajo */
        padding-bottom: 1rem; /* Espacio abajo */
    }

    header nav {
        flex-direction: row;
        justify-content: space-around;
    }

    main {
        margin-left: 0; /* Eliminar margen izquierdo en dispositivos pequeños */
        padding: 1rem; /* Menos relleno */
    }

    section {
        margin-bottom: 1rem; /* Menos espacio abajo */
    }
}
