/* Paleta de colores: Azul y escala de Grises (Oscuro, Claro) */
/* .Gremlins-Under-The-Bed-1-hex { color: #004F4D; } */
/* .Gremlins-Under-The-Bed-2-hex { color: #1F2024; } */
/* .Gremlins-Under-The-Bed-3-hex { color: #4B4952; } */
/* .Gremlins-Under-The-Bed-4-hex { color: #79717A; } */
/* .Gremlins-Under-The-Bed-5-hex { color: #A68F97; } */

/* Reset de estilos por defecto del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #A68F97;
    margin: 0;
    padding: 0;
}

/* Estilos de encabezado y navegación */
header {
    background: #004F4D;
    color: #fff;
    padding: 1rem;
    width: 250px; /* Ancho de la barra lateral */
    height: 100vh; /* Alto completo de la pantalla */
    position: fixed; /* Barra lateral fija */
    left: 0; /* Alinear a la izquierda */
    top: 0; /* Alinear arriba */
    overflow-y: auto; /* Scroll vertical si es necesario */
}

header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav .profile-img {
    width: 180px; /* Tamaño de la imagen circular */
    height: 180px;
    border-radius: 50%; /* Para hacerla circular */
    display: block;
    margin-bottom: 1rem; /* Margen abajo */
}

header nav ul {
    list-style: none;
    padding: 0;
    margin-top: 2rem; /* Espacio arriba */
    width: 100%;
}

header nav ul li {
    margin-bottom: 1rem; /* Espacio abajo entre elementos */
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block; /* Hacer los enlaces de bloque */
    padding: 0.5rem 1rem; /* Espacio alrededor de los enlaces */
    text-align: center;
}

header nav ul li a:hover {
    background-color: #555; /* Cambiar el color de fondo al pasar el mouse */
}

/* Estilos de contenido principal */
main {
    margin-left: 250px; /* Dejar espacio a la izquierda para la barra lateral */
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
    text-align: center; /* Centrar el contenido de las secciones */
}

section h2 {
    color: #333;
    margin-bottom: 1rem;
}

section p {
    margin-bottom: 1rem;
}

.blog-post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.blog-post:hover {
    transform: scale(1.02);
}

.blog-post h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.blog-post .intro {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
}

.blog-post img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.read-more {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.read-more:hover {
    background-color: #0056b3;
}

.full-text {
    display: none;
    margin-top: 1rem;
    color: #333;
}

.buttonB {
    flex-flow: column wrap;
    align-items: center;
    display: flex;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #1F2024;
    text-decoration: none;
    border-radius: 5px;
}

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}

/* Estilos de pie de página */
footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    clear: both; /* Limpiar los flotantes */
    margin-left: 250px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    header {
        width: 100%; /* Barra lateral ocupa todo el ancho en dispositivos pequeños */
        height: auto; /* Altura automática */
        position: static; /* Volver a posición estática */
        margin-bottom: 1rem; /* Espacio abajo */
        padding-bottom: 1rem; /* Espacio abajo */
    }

    header nav {
        flex-direction: row;
        justify-content: space-around;
    }

    main {
        margin-left: 0; /* Eliminar margen izquierdo en dispositivos pequeños */
        padding: 1rem; /* Menos relleno */
    }

    section {
        margin-bottom: 1rem; /* Menos espacio abajo */
    }
}
